body{
background-color:white;
}

main{
display:flex;
flex:row;
flex-grow:1;
flex-shrink:1;
flex-basis:auto;
padding:10px;
text-align:justify;
}
	
header{
font-family:Goudy Old Style, Century Gothic, Helvetica;
text-align:center;
font-size:35px;
color:rgb(255, 189, 128);
}

nav{
width:50em;
padding:10px;
padding-top:40px;
font-family:Garamond, Helvetica, Times New Roman;
font-size:30px;
color:white;
background-color:rgb(255, 189, 128);
text-align:center;
}

nav a{
	text-decoration:none;
	color:white;
}
nav a:hover{
	text-decoration:none;
	color:black;
	}
	
img{
float:right;
width:40%;
height:auto;
margin:10px;
margin-right:10px;
border-radius:30px;
}

#one{
	font-family:Garamond, Helvetica, Times New Roman;
	font-size:25px;
	padding:50px;
	}

#container{
display:flex;
flex-direction:column;
width:900px;
flex-wrap:wrap;
font-family:Garamond, Helvetica, Times New Roman;
font-size:20px;
padding:50px;}

h2{
border-bottom: rgb(255, 189, 128) dotted 5px;
font-family:Garamond, Helvetica, Times New Roman;
color:rgb(255, 189, 128);
}

a{
	text-decoration:none;
	color:black;
}
a:hover{
	text-decoration:underline;
	color:rgb(255, 189, 128);
	
}

footer{
	background-color:black;
	color:lightgray;
	padding:10px;
	flex:row;
	flex-grow:1;
	flex-shrink:1;
	flex-basis:auto;
}
footer img{
float:left;
width:5%;
height:auto;
margin:10px;
border-radius:10px;
}
footer a{
	text-decoration:none;
	color:white;
}
footer a:hover{
	text-decoration:underline;
	color:rgb(255, 189, 128);
}

.two{
	font-size:10px;
	margin-left:90%;
}
#presentation{
	border-bottom: rgb(255, 189, 128) dotted 5px;
	font-family:Garamond, Helvetica, Times New Roman;
	font-size:50px;
	color:rgb(255, 189, 128);
	text-align:center;
	}
	
section{
display:flex;
flex-direction:row;
flex-wrap:wrap;
width: 900px;
margin:10px;
border: 2px solid rgb(255, 189, 128);
text-align: justify;
padding:60px;
background-color:#fff2e6;
font-family:Garamond, Helvetica, Times New Roman;
}
figure img{
	float:right;
	height: 250px;
	width: auto;
	border-radius: 40px;
}
h3{
	font-family:Garamond, Helvetica, Times New Roman;
	font-size:30px;	
}
#three{
	font-size:20px;
	font-family:Garamond, Helvetica, Times New Roman;
}
#three a{
	text-decoration:none;
}

@media(max-width:812px)